@use './variables';
/* Estilo para Avista */
.descripcion-avista{
    background-color: variables.$background-color;
    width: 100%;
    color:variables.$body-color;
    text-align: center;

    h1{
        font-size: variables.$font-size-h1;
        padding-top: 2%;
    }

    p{
        font-size: variables.$font-size-p;
        padding-top: 1.5%;
        padding-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.contenedor-avista{
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;

    p{
        font-size: variables.$font-size-p;
    }

    img{
        width: 80%;
        margin-bottom: 2%;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}





